{{#if !content_only}}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{#data description}}">
    <meta name="keywords" content="{{#data keywords}}">
    <meta name="author" content="{{#data author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{-meta}}
    <title>{{#data title}}</title>
    {{-link}}
    {{-style}}
    <link rel="icon" href="/cdn/media/icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="/cdn/styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AspieSoft/aspiesoft-auto-embed@1.1/cdn/embed.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="/cdn/scripts/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/AspieSoft/aspiesoft-auto-embed@1.1/cdn/embed.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/AspieSoft/random-number-js@1.3.2/script.min.js" defer></script>
  </head>
  <body>
    {{#if !fullscreen}}
    <header>
      <a href="/"><div class="header-image"><div class="header-image-tint"></div></div></a>
      <div class="header-menu">
        {{{#import menu}}}
      </div>
    </header>
    {{/if}}
    <main>
{{/if}}
      {{{body}}}
{{#if !content_only}}
    </main>
    {{#if !fullscreen}}
    <footer>
      {{{#import footer}}}
    </footer>
    {{/if}}
    {{-script}}
  </body>
</html>
{{/if}}
